<div class="ps1-logo">
    <%= image_tag("logo.png", :class => 'logo')%>
    <h1> CHECKOUT THESE <u>HOT</u> <em>NEW</em> RELEASES FOR 1998! </h1>
    <hr />
</div>

<main class="grid">
    <div class="img_container">
        <img src="https://upload.wikimedia.org/wikipedia/en/3/33/Metal_Gear_Solid_cover_art.png" class="game-covers">
        <small>Metal Gear Solid</small>
    </div>
    <div class="img_container">
        <img src="https://pbs.twimg.com/media/EFSSSaAU4AAx_bx.jpg" class="game-covers">
        <small>Final Fantasy VII</small>
    </div>
    <div class="img_container">
        <img src="https://gamefaqs1.cbsistatic.com/box/2/0/9/20209_front.jpg" class="game-covers">
        <small>Resident-Evil 2</small>
    </div>
    <div class="img_container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSSmvMe-b_wOoyGyOk7T2O6QAco15duuO7imWViFecD18tIcItU" class="game-covers">
        <small>Spyro the Dragon</small>
    </div>
    <div class="img_container">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3e/Crash_Bandicoot_3_Warped_Original_Box_Art.jpg/220px-Crash_Bandicoot_3_Warped_Original_Box_Art.jpg" class="game-covers">
        <small>Crash Bandicoot: Warped</small>
    </div>
    <div class="img_container">
        <img src="https://images-na.ssl-images-amazon.com/images/I/51yT3LxQevL.jpg" class="game-covers">
        <small>Medievil</small>
    </div>
    <div class="img_container">
        <img src="https://i.ebayimg.com/18/!!e!U)4wEGM~$(KGrHqJ,!iYE0FpC1yR(BNP3qd8V0Q~~_35.JPG?set_id=89040003C1" class="game-covers">
        <small>Street Fighter</small>
    </div>
    <div class="img_container">
        <img src="https://www.retroplace.com/pics/ps/packshots/66959--tomb-raider-iii-adventures-of-lara-croft.png" class="game-covers">
        <small>Tomb Raider</small>
    </div>
    <div class="img_container">
        <img src="https://i.ebayimg.com/00/$(KGrHqFHJFIFEFp)BrwUBRHK8SJ)zQ~~_35.JPG?set_id=89040003C1" class="game-covers">
        <small>Cool Boarders 3</small>
    </div>
    <div class="img_container">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b7/Madden_NFL_99_Coverart.png/220px-Madden_NFL_99_Coverart.png" class="game-covers">
        <small>Madden 99</small>
    </div>
    <div class="img_container">
        <img src="https://www.retroplace.com/pics/ps/packshots/67598--wwf-war-zone.png" class="game-covers">
        <small>WWF Warzone</small>
    </div>
    <div class="img_container">
        <img src="https://www.mobygames.com/images/covers/l/117489-heart-of-darkness-playstation-front-cover.jpg" alt="Heart of Darkness" class="game-covers">
        <small>Heart of Darkness</small>
    </div>
</main>

<div class="clear">
    <hr />
    <div>
        <h1>"QUIZ #1: THE GREATEST GAMES - A STATIC RAILS WEB APP"</h1>
        <p>Hope you enjoyed this <b><u>totally wild throwback</u></b> to the late 90's!</p>
        <p class="list">The goal of this project was the following:</p>
        <ul>
            <li>build a ruby on rails application by myself</li>
            <li>with static content</li>
            <li>hosted on heroku/github</li>
        </ul>
        <p class="list">My personal goals for this project were:</p>
        <ol>
            <li>build something creative</li>
            <li>work on my biggest weakness: img grids</li>
            <li>do something I can proudly add to my portfolio</li>
        </ol>
    </div>